* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22d4fd;
}