@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #f6f6f6;
    height: 100vh;
    box-sizing: border-box;
}

.titulo-destaque {
    color: #22d4fd;
}

.presentacion {
    display: flex;
    align-items: center;
    margin: 5%; /* En el curso esta propiedad usaba los valores 10% 15% pero en mi monitor perdía simetría */
    justify-content: space-between;
}

.presentacion__contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;    
}

.presentacion__contenido__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: #f6f6f6;
    border: 2px solid #22d4fd;
    width: 378px;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.presentacion__enlaces__link:hover {
    background-color: #272727;
    width: 416px;
    gap: 20px;
    font-size: 29px;
    cursor: pointer;
}